---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700|Open+Sans:700|Source+Code+Pro);

body {
  margin: 0;
  background-color: #f7f5f1;
}


a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #4094aa;
}

a:hover {
  border-bottom: 2px solid #EE978D;
}

#gradient {
  background: url('../images/gradient.png');
  background-position: center;
  height: 10px;
}

#menu {
  margin: 45px 0 55px 0;
  text-align: center;
  color: #f9d28b;

  a {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    border-bottom: 0;
  }

  a:hover {
    border-bottom: 2px solid #4094aa;
  }
}

#description {
  font-family: 'Playfair Display', serif;
  line-height: 1.5em;
  text-align: justify;
  margin: 5px;
}

#header {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  margin: 50px 0 75px 0;
}

#punchline {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #666;
  margin-top: 5px;
}

.post {
  font-family: 'Playfair Display', serif;
  line-height: 1.6em;
  text-align: justify;
  margin: 5px;

  img {
    width: 100%;
    border-radius: 4px;
  }
}

.books {
  line-height: 1.3em;
  font-size: 16px;
  text-align: left;
  
  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
  
  ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
  }
  
  li {
    display: table-cell;
    vertical-align: top;
    padding: 5px;
  }
  
  p {
    margin: 0;
    margin-bottom: 8px;
  }
}

@media (min-width: 750px) {
  #menu {
    font-size: 36px;
  }
  
  #description {
    max-width: 725px;
    font-size: 18px;
    margin: 0 auto;
    padding: 0 20px;
    border-left: 3px solid #f0978b;
  }
  
  .post {
    font-size: 20px;
    width: 725px;
    margin: 0 auto;
    padding: 0 20px;
    border-left: 3px solid #f9d28b;
  }
}

@import "syntax-highlighting";
