@import url(http://fonts.googleapis.com/css?family=Chewy|Noto+Serif);

body {
	margin: 0;
	background-color: #f7f5f1;
}

h1, h2, h3 {
	font-family: 'Noto Serif', cursive;
	line-height: 1; 
	margin: 0;
	margin-top: 20px;
	font-weight: normal;
	text-decoration: none;
}

h1 { 
	font-size:36px;
}

h2 {
	font-size:32px;
}

h3 {
	font-size:22px;
}

a {
	color: #000;
}

#menu a {
	text-decoration: none;
}

#gradient {
	background: url('../images/gradient.png');
	background-position: center;
	height:10px;
}

#header {
	background: url('../images/header.png');
	height: 150px;
	width: 800px; 
	margin:0 auto;
}

#menu {
	margin-top: 25px;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Chewy', cursive;
	font-size: 38px;
	color: #888;
	width: 100%;
}

.item, .description {
	max-width: 700px;
	margin: 0 auto;
	font-family: 'Noto Serif', serif;
	font-size: 16px;
	line-height: 1.8;
	border-left: 2px solid #f9d28b;
	padding-left: 20px;
	padding-right: 20px;
}

.description { 
	border-color: #f0978b;
	font-style:italic;
}

.link-color-0 a:hover { color:#f0978b; }
.link-color-1 a:hover { color:#f9d28b; }
.link-color-2 a:hover { color:#d9d594; }
.link-color-3 a:hover { color:#9cab8b; }
.link-color-4 a:hover { color:#4094aa; }