---
---

body {
    margin: 0;
    background-color: #29261f;
}

.content {
    max-width: 800px;
    margin: auto;
    font-size: 22px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #e6d4c3;
    line-height: 1.4;
    padding: 0 10px;
    text-align: justify;
}

a {
    color: #e6d4c3;
    text-decoration: none;
    border-bottom: 2px solid #4b75c3;
}

li p {
    margin: 8px 0;
}

ul {
    padding-left: 35px;
}

h1, h2 {
    margin-bottom: 10px;
}

ul {
    margin: 0;
}

details {
    cursor: pointer;
}

a:hover {
    border-bottom: 2px solid #c3774b;
}

.header {
    max-width: 800px;
    margin: auto;
    font-size: 16px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: #524b44;
    padding: 0 10px;
    padding-top: 25px;

    span {
        float: right;
        color: #918578;
        a {
            color: #918578;
            border: 0;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}


.footer {
    max-width: 800px;
    margin: auto;
    font-size: 16px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: #524b44;
    padding: 25px 10px;
}

.footer a {
    color: #9f9284;
    border: 0;
}

.footer a:hover {
    text-decoration: underline;
}

.content {
    img {
        width: 100%;
        border-radius: 4px;
    }
}

.books {
    line-height: 1.3em;
    font-size: 18px;
    text-align: left;
    
    hr {
      border: 0;
      height: 0;
      border-top: 1px solid #524b44;
      border-bottom: 0;
  }
    
    ul {
      width: 100%;
      display: table;
      table-layout: fixed;
      border-collapse: collapse;
    }
    
    li {
      display: table-cell;
      vertical-align: top;
      padding: 5px;
    }
    
    p {
      margin: 0;
      margin-bottom: 8px;
    }

    img {
        border-radius: 4px;
        border: 1px solid #524b44;
    }

    blockquote {
        display: none;
    }

    h3 {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .content {
        font-size: 18px;
    }

    .books {
        font-size: 14px;
    }

    .header {
        font-size: 14px;
    }


    .footer {
        font-size: 12px;
    }

    ul {
        padding-left: 20px;
    }
}

@import "syntax-highlighting";
