---
layout: post
title: Reading list
date: 2013-09-09 00:00:00
permalink: /books
skip_date: true
---

<p>This reading list started in 2016 as a way to keep track of the books I read and what I like (or dislike) about them.
It has also been a motivation for me to keep reading and it has worked <i>really</i> well - I more or less went from never reading to reading a lot.</p>

<p>I started collecting quotes towards the end of 2024 that I found beautiful, interesting or somehow noteworthy. For some book you'll see a ¶-sign next to the title that you can click to view those quotes. I try to cover up all potential spoilers so you have to click and expand a section to read those particular quotes.</p>

<div class="books">
  <ul>
    {% assign sorted_books = site.books | sort: 'date' | reverse %}
    {% for book in sorted_books %}
      {% capture mod %}{{ forloop.index0 | modulo:3 }}{% endcapture %}
      {% if mod == "0" and forloop.index0 != 0 %}
        </ul><ul>
      {% endif %}
      
      <li>
        <img src="{{ book.img }}" />
        <p>
          <strong>{{ book.title }}</strong>
          {% if book.quote %}
          <a href="{{ book.url }}">¶</a>
          {% endif %}
        </p>
        <p>
          <i>{{ book.date | date: "%B, %Y" }}</i>
        </p>
        <hr />
        <p>
          {{ book.content }}
        </p>
      </li>
      
      {% if book.previous == nil %}
        {% if mod == "0" %}
          <li></li>
          <li></li>
        {% elsif mod == "1" %}
          <li></li>
        {% endif %}
      {% endif %}
      
    {% endfor %}
  </ul>
</div>