---
layout: post
title: Hello!
date: 2013-09-09 00:00:00
skip_date: true
---

<p>My name is Anton Fagerberg, this is my personal site where I collect some of the projects I've been working on and occasionally write down what's on my mind.</p>

<p>I'm working as a consultant at <a href="http://www.jayway.com">Jayway</a> in Malmö and has been there since 2014. Before that, I worked at <a href="http://www.bring.se/">Bring</a> for almost 10 years, full and part time. I got my MSc in Engineering (Computer Science and Engineering specialized in "Software in systems") from <a href="http://www.lunduniversity.lu.se/">Lund University</a> in 2015. I was also part of the 2017 program committee for <a href="http://oredev.org">Øredev</a>.</p>

<p>I'm a functional programming enthusiast with <a href="http://www.scala-lang.org/">Scala</a> (professionally) and <a href="http://elixir-lang.org/">Elixir</a> / <a href="https://www.haskell.org">Haskell</a> (hobby) as my current languages of choice. I've been working with Scala for a couple of years using different frameworks such as <a href="http://spark.apache.org">Spark</a> and <a href="https://www.playframework.com/">Play Framework</a>.</p>

<p>Beside software development I enjoy tasting beers (Omnipollo) &amp; coffee (Koppi), eating good food, watching cartoons (Adventure Time), reading books (Haruki Murakami), traveling and listening to music (Thundercat).</p>


<h2>Contact</h2>
<ul>
  <li>
    <strong>E-mail:</strong> <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#097;&#110;&#116;&#111;&#110;&#064;&#097;&#110;&#116;&#111;&#110;&#102;&#097;&#103;&#101;&#114;&#098;&#101;&#114;&#103;&#046;&#099;&#111;&#109;">&#097;&#110;&#116;&#111;&#110;&#064;&#097;&#110;&#116;&#111;&#110;&#102;&#097;&#103;&#101;&#114;&#098;&#101;&#114;&#103;&#046;&#099;&#111;&#109;</a>
  </li>
  <li>
    <strong>GitHub:</strong> <a href="https://github.com/AntonFagerberg">github.com/AntonFagerberg</a>
  </li>
  <!-- <li>
    <strong>Twitter:</strong> <a href="https://twitter.com/AntonFagerberg">@AntonFagerberg</a>
  </li> -->
  <li>
    <strong>LinkedIn:</strong> <a href="https://linkedin.com/pub/anton-fagerberg/70/585/2b9">linkedin.com/pub/anton-fagerberg/70/585/2b9</a>
  </li>
</ul>

<h2>Papers</h2>
<ul>
  <li>
    <a href="https://lup.lub.lu.se/student-papers/search/publication/5469608">
      Optimising clients with API gateways (08 Jun 2015)
    </a>
  </li>
  <li>
    <a href="/files/tempex_anton_fagerberg.pdf">
      Temporal Information Extraction (13 Jan 2014)
    </a>
  </li>
</ul>

<h2>Collections</h2>
<ul>
  <li>
    <a href="/books">
      Reading list
    </a>
  </li>
  <!--<li>
    <a href="/records">
      My (fathers) records
    </a>
  </li>-->
</ul>

<h2>Blog posts</h2>
<ul>
{% for post in site.categories.blog %}
  <li>
		<a href="{{ post.url }}">{{ post.title }} ({{ post.date | date_to_string }})</a>
    {% if post.star %}&#9733;{% endif %}
  </li>
{% endfor %}
</ul>
<h2>Blog posts (on external sites)</h2>
<ul>
  <li>
    <a href="https://www.jayway.com/2014/11/21/web-development-with-elixir/">Web development with Elixir (21 Nov 2014)</a>
  </li>
  <li>
    <a href="https://www.jayway.com/2014/07/04/atom-a-hackable-text-editor-for-the-21st-century/">Atom – A hackable text editor for the 21st Century (4 Jul 2014)</a>
  </li>
</ul>

<h2>Presentation slides</h2>
<ul>
  <li>
    <a href="files/otp_presentation.pdf">OTP (2016)</a>
  </li>
  <li>
    <a href="files/spark_presentation.pdf">Apache Spark (2016)</a>
  </li>
</ul>

<h2>Projects</h2>
<ul>
{% for post in site.categories.projects %}
  <li>
		<a href="{{ post.url }}">{{ post.title }} ({{ post.date | date_to_string }})</a>
    {% if post.star %}&#9733;{% endif %}
  </li>
{% endfor %}
</ul>