---
layout: post
title: "My (fathers) records"
date: 2013-09-09 00:00:00
permalink: /records
skip_date: true
---

<p>My father was a blues lover. He was very proud of his (at the time) complete collection of <a href="http://www.jeffersonbluesmag.com">Jefferson Blues Magazine</a> (a Swedish, and in fact, the worlds oldest blues magazine still in print). When I hear blues playing, I can still remember how it was being a child, peeking in to our living room during one of my parents parties.</p>

<p>I inherited all of his (and probably a couple of my mothers) vinyl records when he passed away. As expected, it contained a lot of blues but there is also a lot of other music from different periods of his life - and I mean really different, such as Greek bouzouki music and Danish socialist rock.</p>

<p>I will use this page to write a couple of lines about each record I listen to as a way to learn more about the artists and get to know the record collection I've inherited a little bit better.</p>

<div class="books">
  <ul>
    {% assign sorted_records = (site.record_posts | sort: 'date') | reverse %}
    {% for record in sorted_records %}
      {% capture mod %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
      {% if mod == "0" and forloop.index0 != 0 %}
        </ul><ul>
      {% endif %}
      
      <li>
        <img src="{{ record.img }}" />
        <p>
          <strong>{{ record.title }}</strong>
        </p>
        <p>
          {{ record.artist }}
        </p>
        <p>
          <i>{{ record.date | date: "%B %-d, %Y" }}</i>
        </p>
        <hr />
        <p>
          {{ record.content }}
        </p>
      </li>
      
      {% if record.previous == nil and mod == "0" %}
        <li></li>
      {% endif %}
      
    {% endfor %}
  </ul>
</div>